@font-face {
    font-family: 'DM Sans';
    src: url('./assets/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 1000;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('./assets/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 1000;
    font-style: italic;
}

* {
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}
html{
    margin : 0;
    padding:0;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(243, 243, 243);
    position: relative;
}

/* Ensure no space above header */
body > header:first-child {
    margin-top: 0;
    padding-top: 15px;
}
h1, h2, h3, h4, h5, p, ul, li, nav, div {
    padding: 0;
    margin : 0;
}
header {
    background-color: rgb(8, 68, 196);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    padding: 15px 25px;
    margin: 0;
    margin-top: -20px;
    border: none;
    gap: 15px;
    position: relative;
    top: 0;
}
.profile-contain{
    width: 50px;
    height: 50px;
    overflow:hidden;
    border-radius: 50%;
    background-color: white;
    
}
.profile{
    height: 60px;
    transform: translateX(-50px)
}

.icon{
    width: 50px;
}
.welcome {
    width: 1fr;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.welcome h2 {
    margin: 0;
    font-size: 20px;
}
.welcome p {
    margin : 0;
    font-size: 12px;
}
.notification {
    width: 25px;
    filter: invert(1);
}
.notification-contain {
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    color: white;
    background-color: rgb(3, 19, 146);
    padding: 25px;
    border-radius: 16px;
    margin: 20px 15px;
    overflow: hidden;
    position:relative;
}
.name-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 16px;
}
.history{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: rgb(255, 217, 0);
    
}
.history-icon{
    filter: invert(1);
}
.history p{
    font-size: 12px;
}
.right{
    width: 10px;
    height: 10px;
    filter: invert(60%) sepia(100%) saturate(700%) hue-rotate(10deg) brightness(120%);
}
.question{
    width: 10px;
    height: 10px;
}
.question-contain {
    height: 20px;
    width: 20px;
    background-color: rgb(255, 217, 0);
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-name h4{
    font-size: 14px;
    margin-bottom: 4px;
}

.account-name p{
    font-size: 12px;
    display: flex;
    
    align-items: center;
    gap: 6px;
}
.account-name p img {
    height: 12px;
    object-fit: contain;
    filter: invert(1);
}

.book-balance{
    font-size: 12px;
    margin-bottom: 16px;
    font-weight: 300;
}
.naira{
    font-weight: bold;
}

.fund-wallet{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 14px;
}

.fund-wallet button{
    color: rgb(3, 21, 154);
    font-weight: 600;
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 6px;
    outline: none;
    border:none;
}
.eye-icon{
    width: 20px;
    filter: invert(1);
}
.wallet-image {
    height: 120px;
    position: absolute;
    bottom: -50px;
    right: 12px;
}
.quick-actions-section{
    margin: 0 15px;
    margin-bottom: 20px;
}
.quick-actions-section h2 {
    font-size: 16px;
    margin-bottom: 12px;
}
.quick-actions-container{
    display: flex;
    border-radius: 16px;
    padding: 15px 0;
    justify-content: space-evenly;
    align-items: start;
    background-color: white;
    
}
.sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 20%;
    
    gap: 6px;
}
.quick-actions-icon{
    height: 18px;
    filter: invert(1)
}
.sub-text{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
.send-money{
    background-color: rgb(255, 217, 0); 
}
.airtime{
    background-color: orangered;
}
.electricity{
    background-color: rgb(3, 140, 3);
}
.cable{
    background-color: rgb(4, 207, 207);
}
.sub-contain{
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recent-activity-section{
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
    margin-bottom: 90px;
}

.activity-top{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.activity-top h3 {
    font-size: 16px;
}

.activity-top button {
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all .2s ease-in-out .4s ;
}

.activity-top button :hover{
    background-color: rgb(216, 216, 216);
}

.activity-main p {
    text-align: center;
    font-size: 20px;
} 

.empty-image-contain{
    overflow: hidden;
    background-image: white;
    height: 60vh;
    width: auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.activity-image{
    transform: translateY(0px);
    height: 350px;
    max-width: 100%;
    object-fit: contain;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background-color:  white;
    border-top: 1px solid #e5e7eb;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

nav{
    width: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li{
    list-style-type: none;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #6b7280;
}

.footer-icon{
    height: 20px;
    object-fit: contain;
}
nav ul li p{
    font-size: 12px;
    font-weight: 600;
}
.home-contain p {
    color: rgb(3, 19, 146)
}
/*floating button */
@keyframes pop-in{
    0%{
        transform: scale(0.6);
        opacity:0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(3, 20, 146, 0.6);
    }

    70%{
        box-shadow: 0 0 0 14px rgba(3, 20, 146, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(3, 20, 146, 0);
    }
}

.qr-code{
    position: fixed;
    width: 50px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 75px;
    right: 15px;
    padding: 12px;
    border-radius: 50%;
    overflow: hidden;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(3, 19, 146);
    z-index: 2000;
    box-shadow:  0 0px 20px rgba(0, 0, 0, 0.3); 
    animation: 
    pop-in 0.4s ease-out,
    pulse 2.5s ease-out 0.6s infinite;

    transition:
    transform 0.2s ease, box-shadow 0.2s ease;

}
.qr-code-icon{
    filter: invert(1);
    height: 25px;
}
.qr-code:hover{
    transform: translateY(-3px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.50);
}
.qr-code:active{
    transform: scale(0.95)
}